# Node.js dependencies
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
package-lock.json

# Environment variables
.env

# Logs
logs
*.log
lerna-debug.log*
.pnpm-debug.log*

# Docker
.dockerignore

# Editor directories and files
.vscode/
.idea/
*.swp
*.swo

# System files
.DS_Store
Thumbs.db

# Build files
dist/
build/
coverage/
